@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 246 32% 98%;
    --foreground: 222 22% 10%;
  }
  body {
    @apply bg-background text-zinc-900 antialiased;
  }
}
